@model EntregableAndres.Entity.Order

@{
    ViewData["Title"] = "Edit Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Order</h1>

<form asp-action="Edit" method="post">

    <!-- Campo oculto para el Id del producto -->
    <input type="hidden" name="Id" value="@Model.Id" />

    <!-- Campo para el nombre del producto -->
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="Name" class="form-control" value="@Model.OrderDate" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalAmount" class="control-label"></label>
        <input type="text" name="TotalAmount" class="form-control" value="@Model.TotalAmount" />

    </div>
    <div class="form-group">
        <label asp-for="CustomerId" class="control-label"></label>
        <input type="text" name="CustomerId" class="form-control" value="@Model.CustomerId" />

    </div>
    <button type="submit" class="btn btn-warning">Save Changes</button>
    <a href="@Url.Action("Index", "Order")" class="btn btn-secondary">Cancel</a>
</form>
